useDynLib(learningmachine, .registration=TRUE)
importFrom(Rcpp, evalCpp)
importFrom("doSNOW", "registerDoSNOW")
importFrom("foreach", "foreach")
importFrom("memoise", "memoise")
importFrom("randtoolbox", "sobol", "halton")
importFrom("skimr", "skim_with", "sfl")
importFrom("stats", "median")
importFrom("stats", "predict")
importFrom("stats", "quantile")
importFrom("stats", "rnorm", "runif", "sd")
importFrom("stats", "approx", "density", "pt", "qnorm", "qt", "t.test", "wilcox.test")
importFrom("tseries", "tsbootstrap")
importFrom("tseries", "surrogate")
importFrom("R6", "R6Class")
importFrom("snow", "stopCluster")
importFrom("utils", "installed.packages")
export(Base)
export(Regressor)
export(Classifier)
export(regressor)
export(classifier)
S3method(predict, regressor)
S3method(predict, classifier)