useDynLib(learningmachine, .registration=TRUE)
importFrom(Rcpp, evalCpp)
importFrom("stats", "median")
importFrom("stats", "predict")
importFrom("stats", "quantile")
importFrom("tseries", "tsbootstrap")
importFrom("tseries", "surrogate")
importFrom("utils", "installed.packages")
export(Base)
export(Regressor)
export(Classifier)